<!DOCTYPE html>

<html>

<head>

<title>Bahn Form </title>

</head>



<body>
<form action="http://192.168.0.20:5000/bahn/api/list/html" method="get">
  <div>
    <label for="city">Start City:</label>
    <input type="text" id="city" name="start_station">
  </div>
  <div>
    <label for="targets">Destinations:</label>
    <input type="text" id="targets" name="destinations">
  </div>
    <div>
    <label for="out_start">Outward Start:</label>
    <input type="datetime-local" id="out_start" name="start_date_towards">
  </div>
  <div>
    <label for="out_end">Outward End:</label>
    <input type="datetime-local" id="out_end" name="end_date_towards">
  </div>
  <div>
    <label for="back_start">Backward Start:</label>
    <input type="datetime-local" id="back_start" name="start_date_back">
  </div>
  <div>
    <label for="back_end">Backward End:</label>
    <input type="datetime-local" id="back_end" name="end_date_back">
  </div>
  <div>
    <label for="max_dur">Max Duration:</label>
    <input type="number" id="max_dur" name="max_duration">
  </div>
    <div>
      <input type="radio" id="train" name="transport" value="train">
      <label for="train">Train Only</label>
      <input type="radio" id="bus" name="transport" value="bus">
      <label for="bus">Bus Only</label>
      <input type="radio" id="trainbus" name="transport" value="trainbus" checked>
      <label for="trainbus">Train + Bus</label>
  </div>

  <div class="button">
    <button type="submit">Find Connections</button>
  </div>
</form>
<script src="{{ url_for('static', filename = 'setDates.js') }}"></script>
</body>

</html>
